.country-box {
  width: max-content;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  background-color: lightblue;
  border: 2px solid darkgreen;
  border-radius: 4px;
}

.country-info {
  display: flex;
  justify-content: left;
}

.country-flag {
  margin-left: 30px;
  width: 300px;
  height: auto;
}

.language-item {
  list-style-type: disclosure-closed;
  margin-left: 20px;
}
